img {
  height: 3rem;
}

mat-toolbar {
  background-color: transparent !important;
  height: 100px;
}

.top-div {
  background-image: linear-gradient(to top, rgb(14, 116, 36), rgb(21, 141, 89));
  height: 300px;
  display: flex;
  flex-direction: column; /* Adicionado para organizar os elementos em coluna */
  justify-content: flex-start; /* Alinha os elementos no topo */
  align-items: center;
}

.header {
  justify-content: center;
  height: 130px;
  margin-top: 30px;
}

.logo {
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: azure;
}

span {
  display: flex;
  align-items: center;
}

h1 {
  padding-left: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}
