.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bottom-div {
  background-color: white;
  height: 70%;
}

mat-card {
  width: 30%;
  margin: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 20px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #999999;
  height: 150px;
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 90%;
  }
}
