<mat-card class="mat-elevation-z8 create-card">
  <mat-card-header>
    <mat-card-title class="mat-card-title">Criar Nova Transação</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="cadastrarTransacao()">
    <mat-card-content>
      <mat-form-field class="form-field">
        <input
          matInput
          type="text"
          id="type"
          name="type"
          formControlName="type"
          placeholder="Tipo de transação"
        />
        <mat-error
          *ngIf="
            form.controls['type'].invalid &&
            (form.controls['type'].dirty || form.controls['type'].touched)
          "
        >
          O tipo de transação é obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          type="number"
          id="value"
          name="value"
          formControlName="value"
          placeholder="Insira o valor da transação"
        />
        <mat-error
          *ngIf="
            form.controls['value'].invalid &&
            (form.controls['value'].dirty || form.controls['value'].touched)
          "
        >
          O valor da transação é obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          type="text"
          id="description"
          name="description"
          formControlName="description"
          placeholder="Insira uma descrição"
        />
      </mat-form-field>
      <mat-form-field class="data-finalizar" appearance="fill">
        <mat-label>Data para finalizar</mat-label>
        <input matInput [matDatepicker]="dp3" formControlName="createdAt">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="btn-create-box">
      <button mat-raised-button type="submit" class="btn-create">
        Cadastrar Transação
      </button>
      <button mat-raised-button routerLink="" class="btn-voltar">Voltar</button>
    </mat-card-actions>
  </form>
</mat-card>
